* {
    margin: 0;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

body {
    background:url("images/background.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur 10px;
    font-family: 'Montserrat', sans-serif;
    
}

header {
    height: 100%;
    display: flex;
    align-items: center;

}

header img {
    height: 15%;
    width: 12%;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0;
    padding: 0;
    margin-left: 2%;
    transition: all ease-in-out 0.5s;
}
header img:hover{
    border:1px solid red;
    scale: 1.2;
}

header h1 {
    text-align: center;
    width: 30%;
    margin-left: 0%;
    font-weight: 900;
    font-size: xx-large;
    color: white;
    font-family: 'Kaushan Script', cursive;
    /*font-family: 'Exo 2', sans-serif;*/
    transition: text-shadow 0.5s;
    
}
header h1:hover{
    text-shadow : 8px 6px 5px  rgb(253, 2, 2);
}
.mp{
    margin-left: 29%;
    margin-right: 1%;
    padding: 0;
    font-style: italic;
    font-family: 'Kaushan Script', cursive;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: large;
}

.cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 0;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    transition: all ease-in-out 0.5s;
}
.cnt:hover{
    text-shadow: 4px 2px 8px  rgb(0, 247, 255);
}
.cnt i{
    margin-right: 7%;
}
.tags{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.tags label {
    outline: none;
    background: transparent;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: white;
    font-family: 'Caveat', cursive;
    transition: text-shadow 0.5s;
}

.lbl.active{
    text-shadow: 6px 2px 4px  red;
}
.about b {
    font-size: xx-large;
    font-weight: 900;
}

.about p {
    font-size: larger;
    font-weight: 600;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;

}

.educational-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 600%;

}

.main {
    display: flex;
    flex-direction: row;
    
    
}

.content {
    margin-top: 2%;
    flex: 1;
    padding: 20px;
    opacity: 0;
    display: none;
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.5s; /* Add transition to opacity property */
    color:white;
    font-family: 'Sirin Stencil', sans-serif;



    
}

.content.visible {
    opacity: 1;
    visibility: visible; /* Make it visible when the "visible" class is applied */
    display: block;
    height: 600px;
    background: transparent;
    outline: none;
    align-items: center
}

.content-inner h1{
    text-align: center;
    font-family: 'Sirin Stencil', sans-serif;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.skills ul{
    width: 45%;
    list-style: none;
    padding: 12px;
    display: flex;
    flex-direction:column;
    align-items: justify;
    margin:10%;
    margin-top: 3%;
    
}
 
.skills li {
    width: 50%;
    display: flex;
    flex-direction:row;
    margin-top:16%;
    align-items: center;
    font-family: 'Sirin Stencil', sans-serif;
    font-size: 40px;
    transition: text-shadow 0.7s;
    
}
.images{
    transition: scale 1s, transform 1s;
    margin-left: 0;
    margin-right: 3%;
}
.skills li:hover .images{
    scale: 1.2;
    transform:rotate(360deg);


}
.skills li:hover{
    text-shadow: 1px 2px  red;
}
.education{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education h3{
    margin-top:2%;
    margin-bottom: 5%;
}
.info{
    color: white;
    font-size:50px;
    text-align: center;
    display: block;
    margin-top: 10%;
    font-family: 'Caveat', cursive;
    transition: all ease-in-out 0.5s;
}
.info:hover{
    text-shadow:1px 2px 3px  red; ;
}
.info.hidden{
    display: none;
}
.info.under{
    text-decoration: underline;
}





