* {
    margin: 0;
    padding-right: 0.5%;
    padding-left: 0.5%;
}

body {
    background:url("images/background.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur 10px;
    font-family: 'Montserrat', sans-serif;
    
}

header {
    height: 100%;
    display: flex;
    align-items: center;

}

header img {
    height: 15%;
    width: 15%;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0;
    padding: 0;
    margin-left: 2%;
}

header h1 {
    text-align: center;
    width: 30%;
    margin-left: 0%;
    font-weight: 900;
    font-size: xx-large;
    color: white;
    
}
.mp{
    margin-left: 29%;
    margin-right: 1%;
    padding: 0;
    font-style: italic;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: large;
}

.cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 0;
    color: white;
}
.cnt i{
    margin-right: 3%;
}
.tags{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.tags label {
    outline: none;
    background: transparent;
    border-radius: 12px;
    height: 100%;
    width: 30%;
    text-align: center;
    font-weight: 800;
    font-size: x-large;
    text-shadow: 1px 2px red;
}
.about b {
    font-size: xx-large;
    font-weight: 900;
}

.about p {
    font-size: larger;
    font-weight: 600;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 2%;

}

.educational-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 600%;

}

.main {
    display: flex;
    flex-direction: row;
    
    
}

.content {
    margin-top: 2%;
    flex: 1;
    padding: 20px;
    opacity: 0;
    display: none;
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.5s; /* Add transition to opacity property */
    color:white

    
}

.content.visible {
    opacity: 1;
    visibility: visible; /* Make it visible when the "visible" class is applied */
    display: block;
    height: 600px;
    background: transparent;
    outline: none;
    
}
.skills{
    display: flex;

    justify-content: center;
}
.skills h1{
    width: 100%;
}
.skills ul{
    list-style: none;
    padding: 0;
}
 li{
    align-items: center;
    align-content: center;
   
    font-size: x-large;
    text-decoration: solid;
    
}
.skills ul li {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px; /* Add padding to the list items for spacing */
    
}



/* To make it responsive, adjust the width for smaller screens */
@media (max-width: 768px) {
    li {
        width: 100%;
    }
}
.education h3{
    margin-top:2%;
    margin-bottom: 5%;
}





